<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="descretion" content=" affordable and professional web Deising">
    <meta name="keyword" content=" web Deising, affordable, professional web Deising">
    <meta name="outhor" content="gir kb">
 <title>GKweb Deising |about us</title>
    <link rel="stylesheet" href="../styles/about.css";
</head>
<body>
    <header>
       <div class="container">
           <div id="branding">
           <h1><span class="highlight"> About</span> us</h1>

       </div>
       <nav>
           <ul><li><a href="home.html">Home</a></li>
            <li class="current"> <a href="About.html">ABOUT</a></li>
            <li> <a href="members.html">MEMBERS</a></li>
            <li> <a href="resgister.html">REGISTER</a></li>
            <li> <a href="contact.html"> CONTAC</a></li>
            
           </ul>
       </nav>
   </header> 
 </section>
   
   <section id="main">
    <div class="container">
        <article id="main-col"> 
            <h1 class="page-title">about us</h1>
            <p>
                Kabbee
                KABBEE is a non-profit organization that started out of a desire to aid refugees as they strive to transition to new lives in their adopted countries. We believe in the motto that a little help goes a long way and that we can make a difference in the lives of refugee communities by providing education, technical and vocational trainings. Our vision is that we can transform many refugees especially youth to become independent and future productive citizens in their adopted countries.
                
                
                OUR MISSION
                Our current mission is to equip Eritrean refugees who are living in Sudan to develop necessary life skills by providing short-term technical and vocational training in this interim period. We believe this will help these refugees not only to use their time productively in developing new skills that will allow them to better support themselves in future, but also to build their confidence, as well as giving them a vision of future hope and purpose.
            </p>
            <p class="dark">
                    Lorem Ipsum has been the industry's standard </b> dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            </p>
        </article>
        <aside id="sidebar">
            <div class="dark">
            <h3>PROGRAMS</h3>
       <p> 
        Our programs provide students—most of whom have never had a computer before—with an introduction to software applications, including a hands-on lab, as well as theory. Current programs are:
     </p>
    </div>   
    </aside>
</section>
</div>
</section>
   <section>
       <footer>
           <p>GK web Deising, Copyrite &copy;2017 </p>
       </footer>
   </section>

</body>
</html>  