<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="descretion" content=" affordable and professional web Deising">
    <meta name="keyword" content=" web Deising, affordable, professional web Deising">
    <meta name="outhor" content="gir kb">
 <title>GKweb Deising |about us</title>
    <link rel="stylesheet" href="../styles/contact.css";
</head>
<body>
    <header>
       <div class="container">
           <div id="branding">
           <h1><span class="highlight">CONTACT</span>US</h1>
          </div>
             <nav>
                <ul><li><a href="home.html">Home</a></li>
                    <li class="current"> <a href="About.html">ABOUT</a></li>
                    <li> <a href="members.html">MEMBERS</a></li>
                    <li> <a href="resgister.html">REGISTER</a></li>
                    <li> <a href="contact.html"> CONTAC</a></li>
              </ul>
             </nav>
   </header> 
   <div id="main">
      <center> <h1>CONTACT US</h1></center>
       <div class="L-side">
           <div class="inlineinput">
                <input type="text" id="input" placeholder="Your First name*" class="input">
                <input type="text" id="input" placeholder="Your Last name*" class="input">
           </div><br>
                 <input type="text" class="inputs" placeholder="Your email*" class="linelist"><br>
                 <br>
                 <input type="text" class="inputs" placeholder="Your phone*" class="linelist">
                           
      
       </div><br>
       <div class="R-slide">
               <textarea name="messages" id="message" cols="30" rows="10" placeholder="Your Messages*"></textarea>
        </div>
          <button id="button">send us a message</button>
  </div>
     
      <footer>
          <p>GK web Deising, Copyrite &copy;2019 </p>
      </footer>
     
     
    
</body>
</html>  

