<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kabbee | welcome</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <header>
       <div class="container">
           <div id="branding">
             <h1><span class="highlight">kabbee</span>&nbspteam</h1>
            </div>
       <nav>
            <ul>
                <li> <a href="Home.html">HOME</a></li>
                 <li> <a href="About.html">ABOUT</a></li>
                  <li> <a href="members.html">MEMBERS</a></li>
                  <li> <a href="resgister.html">REGISTER</a></li>
                  <li> <a href="contact.html"> CONTAC</a></li>
                  <li class="current"><a href="log in.html">LOG OUT</a></li>
            </ul>
        </nav>
      </div>   
    </header>
   
  <div class="main">
    <center> <h1>WELCOME TO OUR TEAM</h1></center>
     
    </div>
       <footer>
          <p>GK web Deising, Copyrite &copy;2019 </p>
      </footer> 
     
  </body>
</html>