<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTRATION form</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
              <h1><span class="highlight">Kabbee</span>&nbsp;team</h1>
            </div>
            <nav>
                    <ul><li><a href="Home.html">Home</a></li>
                        <li class="current"> <a href="About.html">ABOUT</a></li>
                        <li> <a href="members.html">MEMBERS</a></li>
                        <li> <a href="resgister.html">REGISTER</a></li>
                        <li> <a href="contact.html"> CONTAC</a></li>
                  </ul>
                 </nav>
  
    </header> 
    <section class="main">
    <div class="box">
         <input type="text" placeholder=" first name*">
         <input type="text" placeholder="last name*">
         <input type="text" placeholder="your Email*">
         <input type="text" placeholder="your phone Number*">
         <input type="text" placeholder="Full address*">
         <input type="text" placeholder="your last name*">
         <button class="btn" type="submit">submit</button>
    </div>
  </section>

  <footer>
      <p>GK web Deising, Copyrite &copy;2019</p>
  </footer>
</section>

</body>
</html>