<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login form</title>
    <link rel="stylesheet" href="../styles/signup.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
            <h1><span class="highlight">Kabbee</span> team</h1>
        </div>
    </header> 
    <div class="login-box">
         <h1 class="h1">Sign up</h1>
         <p> please fill in this form to create an account.</p>
    <div>
          <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="user name">
        <label for="psw"><b>password</b></label>
             <input type="text" placeholder="password">
         <label for="psw"><b>Repeat password</b></label>
             <input type="text" placeholder="password">
             <label><input type="chech-box" checked="" class="checked" name="remember"> Remember me</label>
          </div>
    <div class="container">
      <span class="spn">By creating an account you agree to  <a href="#"> Terms & Privacy</a></span>
      <button type="button" class="csl-btn">cancel</button>
      <input class="btn" type="button" name="" value="signin">
     </div>
  </div>
  <footer>
    <p>GK web Deising, Copyrite &copy;2017 </p>
</footer>
</body>
</html>